/* About Me */
.me-side-by-side {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-shrink: 0;
	margin: 0 4% 0 4%;
	padding: 1% 0;
	vertical-align: auto;
}

.me-image-container {
	position: relative;
	display: flex;
	width: 30%;
	height: 100%;
	margin: auto 0 auto auto;
	align-items: center;
	justify-content: center;
}

.me-image {
	animation: fadeIn 3s;
}

.me-desc-container {
	/* background-color: green; */
	position: relative;
	/* display: flex; */
	/* border-radius: 1rem; */
	top: 0%;
	bottom: 100%;
	width: 100%;
	height: 80%;
	margin: auto auto auto 0;
	align-items: center;
	justify-content: center;
}

.me-desc {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* font-size: max(2vw, 2rem); */
	font-size: clamp(1.3vw, 2rem, 5vw);
	margin: 0% 0% 2.5% 0%;

	/* border: 1px blue solid; */
}

/* Resposivity for medium-sized window */
@media only screen and (min-width: 1400px) {

	.me-image-container {
		position: relative;
		display: flex;
		width: 30%;
		height: 90%;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}

	.me-image {
		padding: 0 0 0 0;
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 1400px) {

	/* .me-desc-container {
		background-color: yellow;
	} */

	.me-desc {
		font-size: clamp(1vw, 2rem, 2vw);
	}

	.me-image {
		max-width: 300px;
		width: 100%;
	}

}

/* Responsivity for small-sized window  */
@media only screen and (max-width: 1000px) {

	/* .me-desc-container {
		background-color: orange;
	} */

	.me-side-by-side {
		margin: 0 4% 0 4%;
		padding: 1% 0;
		display: flex;
		height: 90%;
		flex-direction: column-reverse;
	}

	.me-desc-container {
		/* background-color: orange; */
		position: relative;
		/* display: flex; */
		/* color: #ffffff; */
		top: 50%;
		width: 98%;
		height: 50%;
		margin: 0;
		/* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
		/* font-size: 1.1rem; */
	}

	.me-desc {
		/* font-size: max(1vw, 0.4rem); */
		font-size: clamp(2vw, 1.5rem, 3vw);
	}

	.me-image-container {
		position: relative;
		display: flex;
		bottom: 35%;
		width: 80%;
		height: 100%;
		left: -10%;
	}

}

/* Responsivity for extra-small-sized window */
@media only screen and (max-width: 350px) {

	/* .me-desc-container {
		background-color: red;
	} */

	.me-desc {
		font-size: clamp(2vw, 1rem, 3vw);
	}

}