/* About Me */
.edu-side-by-side {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-shrink: 0;
	margin: 0 4% 0 4%;
	padding: 1% 0;
	vertical-align: auto;
}

.edu-image-container {
	position: relative;
	display: flex;
	width: 30%;
	height: 100%;
	margin: auto 0 auto auto;
	align-items: center;
	justify-content: center;
}

.edu-image {
	animation: fadeIn 3s;
}

.edu-desc-container {
	/* background-color: green; */
	position: relative;
	/* display: flex; */
	/* border-radius: 1rem; */
	top: 0%;
	bottom: 100%;
	width: 100%;
	height: 80%;
	margin: auto auto auto 0;
	align-items: center;
	justify-content: center;

	/* border: 1px red solid; */
}

.edu-desc {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* font-size: max(2vw, 2rem); */
	font-size: clamp(1.3vw, 2.1rem, 4.5vw);
	margin: 0% 0% 2.5% 0%;

	/* border: 1px blue solid; */
}

@media only screen and (min-width: 1900px) {

	/* .edu-side-by-side {
		background-color: blue;
	} */
	
	.edu-desc-container {
		padding-left: 0%;
		height: clamp(10vw, 15rem, 30vw);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Resposivity for medium-sized window */
@media only screen and (max-width: 1400px) {

	.edu-side-by-side {
		background-color: yellow;
	}

	.edu-desc {
		font-size: clamp(2.5vw, 1.5rem, 5vw);
	}

	/* .coursework-title {
        font-size: 1.5rem;
    }

    .coursework {
        font-size: 1.5rem;
    }

    .coursework-desc {
        font-size: 1.4rem;
    } */

}

/* Responsivity for small-sized window  */
@media only screen and (max-width: 1000px) {

	.edu-side-by-side {
		background-color: orange;
	}

	.edu-desc {
		/* font-size: clamp(2vw, 1rem, 4vw); */
		font-size: max(2.3vw, 1.1rem);
		/* font-size: max(3vw, 1.5rem); */
	}

	/* .coursework-title {
        font-size: 1.1rem;
    }

    .coursework {
        font-size: 1.1rem;
    }

    .coursework-desc {
        font-size: 1rem;
    } */
	
}

/* Responsivity for extra-small-sized window */
@media only screen and (max-width: 350px) {

	/* .edu-side-by-side {
		background-color: red;
	} */

	.edu-side-by-side-container {
		height: auto;
		display: flex;
		flex-direction: column-reverse;
	}

	.edu-side-by-side {
		width: auto;
		font-size: 0.70rem;

		height: auto;
		display: flex;
		flex-direction: column-reverse;
	}

	.edu-desc-container {
		height: auto;
		padding-left: 0;
	}

	.edu-desc {
		position: relative;
		display: flex;
		/* font-size: max(1vw, 0.7rem); */
		/* font-size: clamp(1vw, 0.7rem, 3vw); */
		font-size: clamp(1vw, 0.70rem, 10vw);
	}

	.edu-image-container {
		/* display: flex; */
		width: auto;
	}

	.edu-image {
		position: relative;
		max-height: 100vw;
		max-width: 100vw;
		width: 100%;
	}

	/* .coursework-title {
		font-size: 0.5rem;
	}

	.coursework {
		font-size: 0.5rem;
	}

	.coursework-desc {
		font-size: 0.5rem;
	} */
}

/* ADDITIONS */

.edu {
    margin: 3% 0 0 0;
}

.edu-sub-desc {
    font-weight: bold;
}

.edu-info-list {
    /* margin-left: 3%; */
    margin-left: 0%;
    margin-top: 0%;
}

.edu-info-elem {
    padding: 5px 0px;
    line-height: 120%;
}

.edu-info-list .edu-info-elem {
    padding: 1% 0px;
}

.show-resume-button {
    border: 0;
    padding: 1vw;
}

.show-resume-button:hover {
    background-color: grey;
}

.resume-header {
    margin: 0% 6% 0% 6%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vw solid #000000;
    padding-bottom: 0.5vw;
    /* font-size: 1.7rem; */
    font-size: clamp(1.3vw, 2rem, 4.5vw);
    /* color: #ffffff; */
}

#resume-employer-container {
    float: left;
}

#resume-dates {
    float: right;
}

.resume-employer {
    font-weight: bold;
}

.resume-location {
    font-style: italic;
}

.edu-info {
    width: 90%;
    padding: 0;
    margin: 0% 0% 0% 6%;
    /* font-size: 1.7rem; */
    /* font-size: clamp(1.3vw, 2rem, 2.5vw); */
	font-size: max(2.3vw, 1rem);
    /* color: #ffffff; */
}