.exp {
    margin: 3% 0 0 0;
}

.exp-sub-desc {
    font-weight: bold;
}

.exp-info-list {
    /* margin-left: 3%; */
    margin-left: 0%;
    margin-top: 0%;
}

.exp-info-elem {
    padding: 5px 0px;
    line-height: 120%;
}

.exp-info-list .exp-info-elem {
    padding: 1% 0px;
}

.show-resume-button {
    border: 0;
    padding: 1vw;
}

.show-resume-button:hover {
    background-color: grey;
}

.resume-header {
    margin: 0% 6% 0% 6%;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2vw solid #000000;
    padding-bottom: 0.5vw;
    /* font-size: 1.7rem; */
    font-size: clamp(1.3vw, 2.5rem, 5vw);
    /* color: #ffffff; */
}

#resume-employer-container {
    float: left;
}

#resume-dates {
    float: right;
}

.resume-employer {
    font-weight: bold;
}

.resume-location {
    font-style: italic;
}

.exp-info {
    width: 90%;
    padding: 0;
    margin: 0% 0% 0% 6%;
    /* font-size: 1.7rem; */
    font-size: clamp(1.3vw, 2.5rem, 2vw);
    /* color: #ffffff; */
}

@media only screen and (max-width: 1400px) {

    /* .exp-info-list {
        background-color: orange;
    } */

    .resume-header {
        /* font-size: 1.5rem; */
        font-size: clamp(2.5vw, 1.5rem, 5vw);
    }

    .exp-info {
        /* font-size: 1.4rem; */
        font-size: clamp(2.5vw, 1.4rem, 5vw);
    }

}

/* Responsivity for small-sized window  */

@media only screen and (max-width: 1000px) {

    /* .exp-info-list {
        background-color: red;
    } */

    .resume-header {
        /* font-size: 1.1rem; */
        font-size: max(2.3vw, 1.1rem);
    }

    .exp-info {
        /* font-size: 1rem; */
        font-size: max(2.3vw, 1rem);
    }
	
}

/* Responsivity for extra-small-sized window */

@media only screen and (max-width: 350px) {

    .resume-header {
        /* font-size: 0.5rem; */
        font-size: clamp(1vw, 0.7rem, 10vw);
    }

    .exp-info {
        /* font-size: 0.5rem; */
        font-size: clamp(1vw, 0.7rem, 10vw);
    }

    .exp-info-elem {
        padding: 5px 0px;
        line-height: 120%;
    }

}