.nav-bar-container {
	/* Structure */
	position: relative;
	box-sizing: border-box;
	display: flex;
	padding: 1% 1%;

	/* Sizing */
	width: 100%;
	height: auto;
	min-height: 5vw;
	/* max-height: 10vw; */

	/* Position and Alignment */
	justify-content: flex-end;
	align-items: center;

	/* Shape and Color */
	background-color: #FFC5D3;
	/* background-color: red; */
	
}

.nav-tab-title {
	/* Structure */
	position: relative;
	float: right;
	margin: 0 0.75vw;
	padding: 0 0.75vw;

	/* Sizing */
	height: auto;
	/* max-height: 8vw; */
	/* height: 5rem;
	max-height: 8vw; */
	/* min-width: 10px; */
	width: auto;

	/* Position and Aligmnent */

	/* Shape and Color */
	/* border-radius: 2vw; */
	/* background-color: blue; */
}

.nav-tab-title:first-child {
	position: absolute;
	left: 0;
}

.nav-tab-wrapper {
	display: flex;
	flex-direction: row;
	/* background-color: blue; */
}

.nav-tab {
	/* Structure */
	position: relative;
	float: right;
	margin: 0 0.75vw;

	/* Sizing */
	height: auto;
	/* max-height: 8vw; */
	/* height: 5rem;
	max-height: 8vw; */
	/* min-width: 10px; */
	width: auto;

	/* Position and Aligmnent */

	/* Shape and Color */
	/* border-radius: 2vw; */
}

/* Inquire Button */

.nav-link {
	display: block;
	margin: 0 auto;

	/* Sizing */
	height: 100%;
	width: 100%;
	max-height: 8vw;
	padding: 0;

	/* Position and Alignment */
	text-align: center;

	/* Shape and Color */
	background-color: rgba(122, 122, 122, 0.0);
	border: none;

	/* Font */
	color: #330C15;
	font-size: clamp(1vw, 0.9rem, 2vw);
}

.nav-link::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0.5vw;
	left: 0;
	background-color: white;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav-link:hover {
	font-size: clamp(1.1vw, 1rem, 2.1vw);
	transition: 0.125s;
}

.inquire-link {
	border-radius: 2.5vw;

	display: block;
	margin: 0 auto;

	/* Sizing */
	height: 2rem;
	max-height: 5vw;
	min-height: 2vw;
	width: 100%;
	/* max-height: 8vw; */
	padding: 0 1vw;

	/* Position and Alignment */
	text-align: center;

	/* Shape and Color */
	background-color: #330C15;
	border: none;

	/* Font */
	color: white;
	font-size: clamp(1vw, 0.8rem, 2.1vw);
}

.inquire-link-container {
	text-decoration: none;
}

.inquire-link:hover {

	transition-duration: 0.5s;

	/* Shape and Color */
	background-color: white;

	/* Font */
	color: rgb(255, 0, 0);
	/* font-weight: 550; */
}

/* Hamburger Options */

.nav-tab .icon {
	/* float: left; */
	/* display: flex; */
	/* margin:  */
	color: white;
	/* padding: 1.5vw; */
	text-decoration: none;
	/* font-size: 17px; */
	font-size: 4vw;
}

.nav-tab .icon.icon {
	background-color: #272727;
	height: 100%;
	max-height: 5vw;
	min-height: 3vw;
	width: 100%;
	min-width: 5vw;

	float: right;
	border: none;
}

.nav-tab .icon:hover {
	background-color: rgb(72, 72, 72);
	color: white;
}

.nav-tab-settings {
	z-index: 99;
	display: block;
	position: absolute;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 50%;
	height: auto;
}

.nav-tab-wrapper-vertical {
	display: flex;
	flex-direction: column;
	/* background-color: blue; */
}

.nav-link-vertical {
	display: block;
	margin: 0 auto;

	/* Sizing */
	height: 100%;
	width: 100%;
	max-height: 8vw;
	padding: 0.5vw 1vw;

	/* Position and Alignment */
	text-align: center;

	/* Shape and Color */
	background-color: rgba(122, 122, 122, 0.0);
	border: none;

	/* Font */
	color: white;
	font-size: clamp(1vw, 2rem, 5vw);
}

.nav-link-vertical:hover {
	/* background-color: rgba(122, 122, 122, 0.5); */
	font-size: clamp(1vw, 2.5rem, 5.1vw);
	font-weight: 500;
	transition: 0.1s;
}
