/* Social Media Links */

.nav-tab-media {
	/* Structure */
	position: relative;
	float: right;
	margin: 0 0.5vw;

	/* Sizing */
	height: auto;
	/* min-height: 1vw; */
	width: auto;
	max-width: 3vw;

	/* Shape and Color */
	/* background-color: white; */
}

.media-logo-container {
	/* Structure */
	display: flex;
	padding: auto 0;

	/* Position and Alignment */
	align-items: center;
	justify-content: center;

	/* Shape and Color */
	height: 100%;
	width: auto;

}

.media-logo {
	display: inline-block;
	/* margin: auto 0 auto 0; */
	/* border: 1px red dotted; */
	fill: #0ee2e2;
	width: 80%;
	height: 100%;
}

.media-logo:hover {
	fill: white;
}

/* Insta Reels */

.post-list {
	/* border: 1px dashed red; */
	display: grid;
	grid-template-columns: repeat(4, minmax(20%, auto));
	justify-content: space-around;
	margin-top: 28px;
	grid-gap: 28px;

	padding-left: 10vw;
	padding-right: 10vw;
}

.post {
	/* width: auto; */
	/* background-color: red; */
	cursor: pointer;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.post-image {
	margin: 0;
}

.post-image img {
	width: 100%;
	vertical-align: top;
}

.post-overlay {
	background: rgba(0, 0, 0, .4);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: none;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.post:hover .post-overlay {
	display: flex;
	border-radius: 1vw;
}

/* .post-like,
.post-comments {
	width: 80px;
	margin: 5px;
	font-weight: bold;
	text-align: center;
	display: inline-block;
} */

.social-media-container {
	background: #FFF;
	/* background-color: blue; */
	border: 0;
	border-radius: 1vw;
	box-shadow: 0 0 1px 0 rgba(0,0,0,0.5), 0 1px 10px 0 rgba(0,0,0,0.15);
	margin: 1px;
	max-width: 658px;
	min-width: 15vw;
	padding: 0;
	width: 99.375%;
	width: -webkit-calc(100% - 2px);
	width: calc(100% - 2px);
}

.social-media {
	/* background-color: green; */
	padding: 1vw;
}

.social-media-content-container {
	background-color: #F8F8F8;
	line-height: 0;
	margin: 2vw 0 0.5vw 0;
	padding: 0;
	width: 100%;
	/* min-width: 5vw; */

	/* asdf */
	display: flex;
	align-items: center;
	align-content: center;

	/* text-align: center; */
	/* background: #F8F8F8;
	line-height: 0;
	margin: 2vw 0;
	padding: 0;
	text-align: center;
	width: 100%;
	box-sizing: border-box; */
}

.social-media-content {
	height: auto;
	width: 100%;
	/* min-width: 10vw; */
	padding: 0;
	margin: 0;
}

.social-media-caption-container {
	background-color: blue;
	height: auto;
	padding-top: 0.2vw;
	overflow: hidden;
}

.social-media-caption {
	/* background-color: red; */
	color: #c9c8cd;
	font-family: Arial, sans-serif;
	font-size: clamp(0.8vw, 14px, 2vw);
	line-height: auto;
	/* min-height: 1vw; */
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	/* padding: 0.1vw; */
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media screen and (max-width: 1100px) {
	.post-list {
		padding-left: 0vw;
		padding-right: 0vw;
	}
}

@media screen and (max-width: 768px) {
	.post-list {
		margin-top: 3px;
		grid-gap: 3px;
	}
}