.App {
	text-align: center;
}

ul {
	padding: 0 0 0 5%;
}

html {
    scroll-behavior: smooth;
}

button {
	/* margin: 0; */
	padding: 0;
	min-width: 0;
}

/* a {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
} */

.info-section-container {
	padding: 2.5% 0;
}

.page-body-container {
	background-color: #FAF6F1;
	width: 100%;
}

.portfolio-content-container {
	/* background-image: url("./content/James-Webb-Space-Telescope-Image.png") */
	/* background-color: #ffdb03; */
	/* background-color: #03cfd5; */
	/* background-color: #ff463a; */
	/* background-color: #0eb1b3; */
}

/* Banner */

.banner-container {
	height: auto;
	width: 100%;
	/* padding-top: min(8rem, 10vw); */
	padding-top: 1.5%;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1.5%;
	box-sizing: border-box;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10vw;
	color: white;
	/* background-color: #03cfd5;  */

	display: flex;
}

.banner {
	flex: 1;
	display: inline-block;
	/* border: 1px black dashed; */
	background-size: cover;
	height: 40vw;
	width: 50%;
	/* box-sizing: border-box; */

	/* title alignment */
	display: flex;
	/* border: 1px solid blue; */
	justify-content: center;
	align-items: center;
}

.banner-portfolio-name-container {
	text-align: center;
    /* padding: 40px; */
    /* border-radius: 8px; */

	/* border: 1px red solid; */
}

.banner-portfolio-name {
	font-size: 5rem; /* Large font size for impact */
    margin: 0;
    padding: 0;
    /* line-height: 1; */
    /* text-transform: uppercase; */
}

.banner-portfolio-name-text {
	color: #333; /* Dark gray for the main name */
    font-weight: 400; /* Lighter weight */
    letter-spacing: -2px; /* Tighter spacing */
}

.banner-portfolio-description {
	font-size: 1.2rem;
    color: #333; /* Subdued color for less emphasis */
    margin-top: 10px;
    letter-spacing: 3px; /* Wide spacing for a modern look */
    border-top: 1px solid #333; /* A subtle dividing line */
    padding-top: 10px;
    /* display: inline-block; */
}

.fadeIn {
	animation: fadeIn 1.2s both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.fadeInLeft {
	animation: fadeInLeft 1.2s both;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

.slideInUp {
	animation: slideInUp 1.2s both;
}

@keyframes slideInUp {
	0% {
		transform: translateY(50px);
	}

	100% {
		transform: translateY(0px);
	}
}

/* .banner-tech-section {
	width: 40%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 33.3%);
}

.banner-tech-icon-container {
	text-align: center;
	font-size: 9.5vw;
}

.devicon-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.devicon {
	display: inline-flex;
	margin: auto;
	fill: #0ee2e2;
	width: 80%;
	height: 80%;
} */

/* Portfolio Title */
.portfolio-name {
	/* color: #0ee2e2;
	font-size: calc(2.5vw + 1rem); */
	height: auto;
	font-family: sans-serif;
	font-size: max(1.6vw, 90%);
	color: white;
}

/* Header Item */

.portfolio-header {

	/* border: 1px solid yellow; */

	/* main container of nav-tab */
	z-index: 99;
	position: relative;
	height: 8rem;
	max-height: 7vw;
	width: 100%;
	padding: 0 1% 0 1%;
	background-color: #272727;
	/* border: 1px solid white; */
	left: 0%;
	text-align: center;
	/* font-size: 30px; */
	font-weight: bold;

	box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
	.portfolio-name {
		font-size: 2.5vw;
		font-family: sans-serif;
	}
}

/* .sticky {
	position: fixed;
	top: 0;
	width: 100%;
} */

.portfolio-content {
	/* border: 1px dashed red; */
	/* padding-top: 1.5%; */
}

/*/// Section ///*/

.section-title-container {
	background-color: none;
	border-radius: 5vw;

	padding-left: 2vw;

	display: flex;
	align-items: center;
	width: auto;
	height: auto;
	max-height: 15vw;
	margin-left: 1%;
}

.section-title {
	font-size: 4vw;
}

.section-shape-aligner {
	display: flex;
	height: 5rem;
	max-height: 15vw;
	width: 20%;
	max-width: 75rem;
	float: left;
	justify-content: center;
	align-items: center;
}

.section-pointer-container {
	/* border: 1px green dashed; */
	height: 80%;
	/* max-height: 15vw; */
	width: 100%;
}

.section-pointer {
	height: 400%;
	width: 100%;
	background: #e55151;
	clip-path: polygon(0% 0%, 80% 0%, 100% 12.5%, 80% 25%, 0% 25%);
}

.section-container {
	height: auto;
	width: auto;
	margin: 0 2%;
	/* border: 0.1vw solid black; */
	/* border-radius: 0.5rem; */
}

/* Responsivity for small-sized window  */

@media only screen and (max-width: 1000px) {

	/*
	.sticky + .portfolio-content {
		padding-top: 10vw;
	}

	.section-header {
		height: 3rem;
	} */

	.banner-portfolio-name {
	font-size: 2.5rem; /* Large font size for impact */
	}
	
}

/* Responsivity for extra-small-sized window */

@media only screen and (max-width: 550px) {

	
	/*
	.sticky + .portfolio-content {
		padding-top: 20vw;
	} */

}
